{% extends "layout.html" %}

{% block content %}

<h1> Welcome to QuickStatements 3.0 </h1>
<style>
  /* Override the button colors while maintaining the external Pico CSS*/
  :root {
    --pico-primary-background: #031bf1 !important; /* Button background color */
    --pico-primary-border: #0b1ba7 !important; /* Button border color */
    --pico-primary-hover-background: #039af1 !important; /* Button background color */
  }
  :root:not([data-theme]) {
    --pico-primary: #031bf1 !important;;
    --pico-primary-background: #039af1 !important;;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(24, 64, 197, 0.5) !important;;
    --pico-primary-hover: #039af1 !important;;
    --pico-primary-hover-background: #031bf1 !important;;
    --pico-primary-hover-border: var(--pico-primary-hover-background) !important;;
  }
</style>

<article>
  <a role="button" href="{% url 'new_batch' %}"> New batch </a>
</article>


<form id="batchForm">
  <fieldset role="group">
    <input id="batchInput" type="number" placeholder="Batch ID..." oninput="updateBatchForm()" required />
    <input type="submit" value="See batch details" />
  </fieldset>
</form>

<form id="userForm">
  <fieldset role="group">
    <input id="userInput" type="text" placeholder="Username..." oninput="updateUserForm()" required />
    <input type="submit" value="See batches by user" />
  </fieldset>
</form>

{% endblock %}

